/* Eric Meyer's reset start. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Eric Meyer's reset end. */

/* Border Box for all elements */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Form elements inherit font */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

/* Variables */
:root {
   /* 1280 x 720 */
  --base-font-size: 16px;
  --header-height: 50px;
  --header-width: 1200px;
  --footer-height: 90px;
  --footer-width: 600px;
}

@media (min-width: 1920px) {
  :root {
    --base-font-size: 20px;
    --header-height: 60px;
    --header-width: 1600px;
    --footer-height: 120px;
    --footer-width: 800px;
  }
}

@media (min-width: 2560px) {
  :root {
    --base-font-size: 24px;
    --header-height: 80px;
    --header-width: 2000px;
    --footer-height: 150px;
    --footer-width: 1000px;
  }
}

html {
  scroll-behavior: smooth; /* Enable smooth scrolling */
  font-size: var(--base-font-size);
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  place-items: center;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100vw;
}

header a {
  text-decoration: none;
}

/* Used so that header's background color can span the whole length of the page */
.header-content {
  width: var(--header-width);
  height: var(--header-height);
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  font-size: 1.5rem;
}

header h1 {
  justify-self: left;
}

header nav {
  justify-self: right;
}

.header-nav-main li {
  display: inline-block; /* Header navigation list items on the same line */
  margin-right: 1.5rem;
}

/* Footer */
footer {
  display: grid;
  height: var(--footer-height);
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 1fr var(--footer-width) 1fr;
  align-items: center;
  grid-template-areas:
    ". content ."
    ". copyright .";
  font-size: 1rem;
}

footer a {
  text-decoration: none;
}

footer nav {
  grid-area: content;
}

.footer-nav-social {
  justify-self: left;
  margin-left: 50px;
}

.footer-nav-social li {
  display: inline-block; /* Footer social links on the same line */
}

.footer-nav-main {
  justify-self: right;
  margin-right: 50px;
}

footer p {
  grid-area: copyright;
  justify-self: center;
  align-self: top;
}

/* Homepage */
.home main {
  display: grid;
  width: 100vw;
}

/* Homepage hero section */
.hero {
  min-height: calc(100vh - var(--header-height));
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
}

.hero-description {
  max-width: 600px;
  justify-self: end;
}

.hero-description h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.hero-description p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.hero-description .certifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 32px;
}

.hero-description .certifications img {
  width: 200px; /* to stay within width of section (600px) */
}

.hero > figure img {
  width: 400px;
  border-radius: 20px;
}

/* Homepage lifestyle section */
.lifestyle {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
  background-color: rgba(77, 250, 218, 0.2);
  min-height: 100vh;
}

.lifestyle-description {
  max-width: 600px;
}

.lifestyle-description h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.lifestyle-description dt {
  font-size: 2rem;
}

.lifestyle-description dd {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.lifestyle figure {
  justify-self: end;
}

.lifestyle figure img {
  width: 400px;
  border-radius: 20px;
}

/* Homepage obesity section */
.obesity {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
  min-height: 100vh;
}

.obesity-description {
  width: 600px;
  order: -1;
  justify-self: end;
}

.obesity-description h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.obesity-description dt {
  font-size: 2rem;
}

.obesity-description dd {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.obesity figure img {
  width: 400px;
  border-radius: 20px;
}

/* Homepage blog */
.blog-preview {
  display: grid;
  place-items: center;
  align-content: start;
  background-color: rgba(77, 250, 218, 0.2);
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.blog-preview h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-preview h3 {
  font-size: 1.25rem;
}

.blog-preview ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.blog-preview article {
  text-align: center;
}

.blog-preview img {
  width: 250px;
  border-radius: 20px;
}

.blog-preview > p {
  margin-bottom: 20px;
}

.blog-preview form {
  font-size: 1.25rem;
  margin-bottom: 20px; /* to separate from footer */
}

/* Blog page */
.blog main {
  display: grid;
  place-items: center;
  row-gap: 20px;
  min-height: calc(100vh - 130px); /* 1280 x 720 */ /*minus header and footer */
  align-content: start;
}

.blog h2 {
  font-size: 3rem;
  font-weight: bold;
}

.blog form {
  font-size: 1.25rem;
}

.blog h3 {
  font-size: 1.25rem;
}

.blog-page-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px; /* to separate form footer */
}

.blog article {
  text-align: center;
}

.blog img {
  width: 400px;
  border-radius: 20px;
}

/* Individual blog post */
.blog-post main {
  display: grid;
  gap: 20px;
}

.blog-post main article {
  display: grid;
  width: 1024px;
  gap: 20px;
  font-size: 1.25rem;
}

.blog-post main article h1 {
  justify-self: center;
  font-size: 2rem;
  font-weight: bold;
}

.blog-post main article figure {
  justify-self: center;
}

.blog-post main article figure img {
  width: 400px;
}

.blog-post main article ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.blog-post main nav {
  display: grid;
  grid-auto-flow: column;
}

.blog-post main nav {
  font-size: 1.25rem;
  margin-bottom: 40px; /* to separate from footer */
}

.blog-post main nav a:first-child {
  margin-left: 30px;
}

.blog-post main nav a:last-child {
  justify-self: end;
  margin-right: 30px;
}

/* About Page */
.about main {
  display: grid;
  width: 1024px;
  gap: 32px;
}

.about main h2 {
  font-size: 3rem; /* 1280 x 720 */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.about main p {
  font-size: 1.25rem; /* 1280 x 720 */
  margin-bottom: 20px; /* 1280 x 720 */
}

.work-with-me {
  display: grid;
  place-items: center;
}

.instagram-feed {
  display: grid;
  place-items: center;
}

.contact-form {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  font-size: 1.25rem;
}

.contact-form form {
  display: grid;
  place-items: center;
  gap: 10px;
}

/* Resources Page */
.resources h2 {
  font-size: 3rem;
  font-weight: bold;
}

/* Global styles */
.hidden {
  visibility: hidden;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  max-width: 300px; /* 1280 x 720 */
}

.button:hover {
  background-color: #0056b3;
}

@media (min-width: 1920px) {
  /* Homepage */
  .hero {
    gap: 120px;
  }

  .hero-description {
    max-width: 800px;
  }

  .hero-description .certifications img {
    width: 250px;
  }

  .hero > figure img {
    width: 500px;
  }

  .lifestyle-description {
    max-width: 800px;
  }

  .lifestyle figure img {
    width: 500px;
  }

  .obesity-description {
    width: 800px;
  }

  .obesity figure img {
    width: 500px;
  }

  .blog-preview ul {
    gap: 50px;
    margin-bottom: 50px;
  }

  .blog-preview img {
    width: 400px;
  }

  .blog-preview > p {
    margin-bottom: 20px;
  }

  /* Blog page */
  .blog-page-posts {
    gap: 50px;
  }

  .blog img {
    width: 500px;
  }

  .blog-post main article {
    width: 1200px;
    gap: 24px;
  }

  .blog-post main article figure img {
    width: 600px;
  }

  /* About page */
  .about main {
    width: 1200px;
  }

  /* Global styles */
  .button {
    max-width: 400px;
  }
}

/* For 2560 and up */
@media (min-width: 2560px) {


  /* Homepage */
  .hero {
    gap: 160px;
  }

  .hero-description {
    max-width: 1000px;
  }

  .hero-description .certifications img {
    width: 300px;
  }

  .hero > figure img {
    width: 700px;
  }

  .lifestyle-description {
    max-width: 1000px;
  }

  .lifestyle figure img {
    width: 700px;
  }

  .obesity-description {
    width: 1000px;
  }

  .obesity figure img {
    width: 700px;
  }

  .blog-preview ul {
    gap: 70px;
    margin-bottom: 70px;
  }

  .blog-preview img {
    width: 500px;
  }

  /* Blog page */
  .blog input {
    height: 36px;
    width: 400px;
  }

  .blog-page-posts {
    gap: 60px;
  }

  .blog img {
    width: 600px;
  }

  /* Individual blog post */
  .blog-post main {
    gap: 24px;
  }

  .blog-post main article {
    width: 1200px;
    gap: 24px;
  }

  .blog-post main article figure img {
    width: 800px;
  }

  /* About page */
  .about main {
    width: 1200px;
  }

  .contact-form input {
    height: 40px;
    width: 300px;
  }

  .contact-form textarea {
    height: 450px;
    width: 400px;
  }

  /* Global styles */
  .button {
    max-width: 400px;
  }
}