body, section, figure, h1, h2, p, ul, ol, form, dl, dd, dt, #certification-logos, .navigation {
  border: 1px solid #ccc;
}

/* h2 {
  display: none;
} */

body {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.25rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #6a4c9c;
  padding: 20px 0;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header > a {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    color: 0.3s;
}

header nav ul li.logo a {
  font-size: 24px;
}

header nav ul li a:hover {
  background-color: #f4e05d;
  border-radius: 5px;
  color: #5e4b8b;
}

header nav ul li a.active {
  background-color: #f4e05d;
  border-radius: 5px;
  color: #5e4b8b;
}

figure {
  margin: 0;
}

#introduction figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#certifications {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#certification-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

h1, h2 {
  text-align: center;
}

/*
  Below is to make it so that the user does not need to move their eyes too much horizontally when reading.
*/
p {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

ol {
  max-width: 768px;
  margin: 0 auto;
  list-style-position: inside;
  box-sizing: border-box;
}

.latest-blog-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

article h3 {
  max-width: 400px;
  text-align: center;
}

#homepage-blog p {
  text-align: center;
}

/*
  Meant for blog sign up forms on main page and blog page
*/

form {
  text-align: center;
  margin: 10px;
}

/*
  Below is to center the instagram feed.
  The blockqoute somehow gets converted into an i-frame.
*/
iframe {
  margin: auto !important;
}

/*
  Center map in the middle of the middle of the Work With Me section.
*/
#work-with-me {
  display: flex;
  flex-direction: column;
}

#contact-form form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
}

#contact-form form input {
  margin: auto;
  max-width: 350px;
  width: 100%;
}

#contact-form form textarea {
  margin: auto;
  max-width: 350px;
  width: 100%;
}

#contact-form button {
  padding: 10px;
  width: 75px;
  margin: auto;
}

/* blog.html styling */

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Center image(s) in each blog post */

article img {
  display: block; 
  margin: auto;
}

/* Navigation styling for each blog post */
.navigation {
  box-sizing: border-box;
  max-width: 768px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.navigation a {
  padding: 20px 10px;
  background-color: lightpink;
  border-radius: 5px;
  text-align: center;
}


/* Hide previous button on the first blog post */
.hidden {
  visibility: hidden;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
}

footer ul {
  list-style: none;
}

.footer-nav-social li {
  display: inline-block; /* Social Media links on the same line */
}