/* Eric Meyer's reset start. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Eric Meyer's reset end. */

/* Border Box for all elements */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
  font-size: 16px; /* 1280 x 720 */
}

/* Grid layout for body */
body {
  display: grid;
  place-items: center;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100vw;
}

/* Used so that header's background color can span the whole length of the page */
.header-content {
  width: 1200px;  /* 1280 x 720 */
  height: 40px;   /* 1280 x 720 */
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  font-size: 20px;    /* 1280 x 720 */
}

header h1 {
  justify-self: left;
}

header nav {
  justify-self: right;
}

.header-nav-main li {
  display: inline-block; /* Header navigation list items on the same line */
}

.home main {
  display: grid;
  width: 100vw;
}

/* Footer */
footer {
  display: grid;
  height: 90px;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 1fr 600px 1fr;      /* 1280 x 720 */
  align-items: center;
  grid-template-areas:
    ". content ."
    ". copyright ."
}

footer nav {
  grid-area: content;
}

.footer-nav-social {
  justify-self: left;
  margin-left: 50px;
}

.footer-nav-social li {
  display: inline-block; /* Footer social links on the same line */
}

.footer-nav-main {
  justify-self: right;
  margin-right: 50px;
}

footer p {
  grid-area: copyright;
  justify-self: center;
  align-self: top;
}

/* Homepage hero section */
.hero {
  height: calc(100vh - 40px); /* minus header height @ 1280 x 720 */
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
}

.hero-description {
  max-width: 600px;   /* 1280 x 720 */
  justify-self: end;
}

.hero-description h2 {
  font-size: 48px;    /* 1280 x 720 */
  margin-bottom: 32px;  /* 1280 x 720 */
  font-weight: bold;
}

.hero-description p {
  font-size: 20px;    /* 1280 x 720 */
  margin-bottom: 20px; /* 1280 x 720 */
}

.hero-description .certifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 32px; /* 1280 x 720 */
}

.hero-description .certifications img {
  width: 200px; /* to stay within width of section (600px) */
}

.hero > figure img {
  width: 400px; /* 1280 x 720 */
  border-radius: 20px;
}

/* Homepage lifestyle section */
.lifestyle {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
  background-color: rgba(77, 250, 218, 0.2);
  height: 100vh;
}

.lifestyle-description {
  max-width: 600px;
}

.lifestyle-description h2 {
  font-size: 48px;    /* 1280 x 720 */
  margin-bottom: 32px;  /* 1280 x 720 */
  font-weight: bold;
}

.lifestyle-description dt {
  font-size: 32px; /* 1280 x 720 */
}

.lifestyle-description dd {
  font-size: 16px; /* 1280 x 720 */
  margin-bottom: 16px; /* 1280 x 720 */
}

.lifestyle figure {
  justify-self: end;
}

.lifestyle figure img {
  width: 400px;
  border-radius: 20px;
}

/* Homepage obesity section */
.obesity {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.obesity-description {
  max-width: 600px;  /* 1280 x 720 */
  order: -1;
  justify-self: end;
}

.obesity-description h2 {
  font-size: 48px;    /* 1280 x 720 */
  margin-bottom: 32px;  /* 1280 x 720 */
  font-weight: bold;
}

.obesity-description dt {
  font-size: 32px; /* 1280 x 720 */
}

.obesity-description dd {
  font-size: 16px; /* 1280 x 720 */
  margin-bottom: 16px; /* 1280 x 720 */
}

.obesity figure img {
  width: 400px;
  border-radius: 20px;
}

/* Homepage blog */
.blog-preview {
  display: grid;
  place-items: center;
  align-content: start;
  background-color: rgba(77, 250, 218, 0.2);
  height: calc(100vh - 130px); /* minus header and footer */ /* 1280 x 720 */
}

.blog-preview h2 {
  font-size: 48px;    /* 1280 x 720 */
  font-weight: bold;
  margin-top: 20px;      /* 1280 x 720 */
  margin-bottom: 20px;      /* 1280 x 720 */
}

.blog-preview ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;      /* 1280 x 720 */
  margin-bottom: 20px;      /* 1280 x 720 */
}

.blog-preview article {
  text-align: center;
}

.blog-preview img {
  width: 250px;      /* 1280 x 720 */
  border-radius: 20px;
}

/* So image renders properly on bigger screens */
@media (min-width: 1601px) {
  .blog-preview img {
    width: 400px;
  }
}

.blog-preview > p {
  margin-bottom: 20px;      /* 1280 x 720 */
}

/* Blog page */
.blog main {
  display: grid;
  place-items: center;
  row-gap: 20px;
}

.blog h2 {
  font-size: 48px;
  font-weight: bold;
}

.section-blog-page-posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.blog article {
  text-align: center;
}

.blog img {
  width: 400px;
  border-radius: 20px;
}

/* Resources Page */
.resources h2 {
  font-size: 48px;      /* 1280 x 720 */
  font-weight: bold;
}