/* Eric Meyer's reset start. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%; */
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Eric Meyer's reset end. */

/* Border Box for all elements */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Border to visualize containers */
/* header, h1, nav, p, footer, section {
  border: 1px solid black;
} */

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Base font-size for 1280 x 720 */
html {
  font-size: 16px;
}

/* Grid layout for body */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-gap: 20px;
}

/* Header */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  align-items: center;
  grid-template-areas:
    ". content .";
  font-size: 1.25em;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

header h1 {
  grid-area: content;
  justify-self: left;
  margin-left: 10px;
}

header nav {
  grid-area: content;
  justify-self: right;
  margin-right: 10px;
}

.header-nav-main li {
  display: inline-block; /* Header navigation list items on the same line */
}

/* Footer */
footer {
  grid-area: footer;
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 1fr minmax(0px, 600px) 1fr;
  align-items: center;
  grid-template-areas:
    ". content ."
    ". copyright ."
}

footer nav {
  grid-area: content;
}

.footer-nav-social {
  justify-self: left;
  margin-left: 50px;
}

.footer-nav-social li {
  display: inline-block; /* Footer social links on the same line */
}

.footer-nav-main {
  justify-self: right;
  margin-right: 50px;
}

footer p {
  grid-area: copyright;
  justify-self: center;
  align-self: top;
}

/* Global styles */

html {
  font-family: sans-serif;
}

main {
  grid-area: main;
}

.button {
  display: inline-block; /* Make it behave like a block but stay inline */
  padding: 10px 20px; /* Add padding for spacing around the text */
  background-color: #007bff;
  color: white;
  /* font-size: 1.25em; */
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Homepage main */
.home main {
  display: grid;
}

/* Homepage hero */
.home-hero {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  align-items: center;
  gap: 100px;
  height: 100vh;
}

.hero-description {
  justify-self: end;
}

.hero-description h2 {
  /* font-size: 3em; */
  margin-bottom: 0.5em;
}

.hero-description p {
  /* font-size: 1.25em; */
  margin-bottom: 0.75em;
}

.hero-description .certifications {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.home-hero > figure img {
  border-radius: 20px;
  height: 600px;
  display: block;
}

/* Homepage lifestyle */
.home-lifestyle {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: center;
  gap: 100px;
  background-color: rgba(77, 250, 218, 0.2);
  height: 100vh;
}

.home-lifestyle figure {
  justify-self: end;
}

.lifestyle-description h2 {
  /* font-size: 3em; */
  margin-bottom: 0.5em;
}

.lifestyle-description dt {
  /* font-size: 2em; */
  display: list-item;
  list-style-position: inside;
}

.lifestyle-description dd {
  /* font-size: 1.25em; */
  margin-left: 44px;
  margin-bottom: 1em;
  margin-top: 0.5em;
  margin-right: 15em;
}

/* Homepage blog */
.home-blog {
  display: grid;
  place-items: center;
  grid-template-areas:
    "title"
    "articles"
    "other";
  background-color: rgb(177 39 232 / 0.2);
  /* font-size: 1.25em; */
  height: calc(100vh - 10rem);
}

.home-blog h2 {
  /* font-size: 3em; */
}

.home-blog ul {
  display: grid;
  grid-auto-flow: column;
  min-width: 350px;
  gap: 100px;
}

.home-blog h3 {
  text-align: center;
}

.home-blog p {
  align-self: start;
  grid-area:other;
}

.home-blog form {
  grid-area: other;
  align-self: center;
}






/* Do later */
/* Blog page main */
.blog-index main {
  display: grid;
  grid-template-columns: 1fr minmax(0px, 728px) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    ". title ."
    ". form ."
    ". posts .";
  place-items: center;
}

.blog-index h2 {
  grid-area: title;
}

.blog-index form {
  grid-area: form;
}

.section-blog-page-articles {
  grid-area: posts;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.blog-index h3 {
  text-align: center;
}

/* Blog post main */
.blog-post main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 768px) 1fr;
  grid-template-areas:
    ". article ."
    ". nav .";
  row-gap: 20px;
  }

.blog-post main article {
  grid-area: article;
}

.blog-post main article h1 {
  text-align: center;
}

.blog-post main article figure {
  text-align: center;
}

.blog-post main article ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.blog-post main nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-post main nav a:first-child {
  justify-self: left;
}

.blog-post main nav a:nth-child(2) {
  justify-self: right;
}

/* Hide element with class 'hidden' */
.hidden {
  visibility: hidden;
}